html, body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#root {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
}

#layout {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  grid-column: 1;
  background-color: #7B904B;
}

#cv {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: first baseline;
  justify-content: first baseline;
  grid-column: 2;

  
}

#cv h1 {
  margin-left: 2%;
}

#layout div {
  display: flex;
  flex-direction: column;
  color: white;
}

#layout div input {
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 25px;
}

#layout div {
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #273B09;
  padding: 20px;
  border-radius: 30px;
}

#layout button {
  margin: 3%;
  padding: 20px;
  border-radius: 25px;
  border: none;
  background-color: #002400;
  color: white;
}

#layout div label {
  padding: 30px;
  font-size: 20px;
  text-align: center;
}